<!doctype html>
<html lang="th">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>เข้าสู่ระบบ</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1>เข้าสู่ระบบ</h1>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">ชื่อผู้ใช้:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div class="form-group">
                    <label for="password">รหัสผ่าน:</label>
                    <div class="password-container">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            required
                        />
                        <span class="toggle-password" id="toggle-password"
                            >&#128065;</span
                        >
                    </div>
                </div>
                <button type="submit">เข้าสู่ระบบ</button>
            </form>
        </div>

        <script>
            document
                .getElementById("toggle-password")
                .addEventListener("click", function () {
                    const passwordInput = document.getElementById("password");
                    const toggleIcon =
                        document.getElementById("toggle-password");

                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        toggleIcon.classList.add("active");
                    } else {
                        passwordInput.type = "password";
                        toggleIcon.classList.remove("active");
                    }
                });
        </script>
    </body>
</html>
